body {
    background: url("../images/background.jpg") repeat;
    font-family: 'Roboto', sans-serif;
}
form {
    background: #ffffff;
    padding: 30px;
    margin-top: 50px;
}

form .form-control{
border-radius:0 ;
    padding-left: 40px;
}
.content-header {
    text-align: center;
}
.content-header .logo {
    width: 50px;
    height: 50px;
}
.content-header .title {
font-weight:bold ;
}
.content-header .description {
    color: #aeaeae;
    font-size: 20px;
}
form .name-wrapper:before {
      content: ' ';
      background: url("../images/name.jpg");
      width: 21px;
      height:27px;
      display: block;
      position: absolute;
      left:25px;
      top:5px;
      z-index: 1;
  }
form .email-wrapper:before {
    content: ' ';
    background: url("../images/email.jpg")no-repeat;
    background-size: 100%;
    width: 21px;
    height:27px;
    display: block;
    position: absolute;
    left:25px;
    top:5px;
    z-index: 1;
}
form .age-wrapper:before {
     content: ' ';
     background: url("../images/age.jpg")no-repeat;
     background-size: 100%;
     width: 21px;
     height:27px;
     display: block;
     position: absolute;
     left:25px;
     top:5px;
     z-index: 1;
 }
form .height-wrapper:before {
    content: ' ';
    background: url("../images/height.jpg")no-repeat;
    background-size: 100%;
    width: 21px;
    height:27px;
    display: block;
    position: absolute;
    left:25px;
    top:5px;
    z-index: 1;
}
form .weight-wrapper:before {
    content: ' ';
    background: url("../images/weight.jpg") no-repeat;
    background-size: 100%;
    width: 21px;
    height:27px;
    display: block;
    position: absolute;
    left:25px;
    top:5px;
    z-index: 1;
}
form .city-wrapper:before {
    content: ' ';
    background: url("../images/city.jpg") no-repeat;
    background-size: 100%;
    width: 21px;
    height:27px;
    display: block;
    position: absolute;
    left:25px;
    top:5px;
    z-index: 1;
}
form input[type='text']:focus{
    background: #fff7f7;
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

#post-credit {
    display: flex;
}
form input[type='radio']{

    display: none;
}
.radio {
    margin-left: 20px;
}
.radio >label {
    padding-left: 30px;
}
.radio > label:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #aeaeae;
    position: absolute;
    display: inline-block;
    left: 0;
}
.radio > label.checked:before{
    border: 2px solid black;
    content: "✔";
    color: black;
    line-height: 15px;
    font-size: 20px;
}
#post-english {
    display: flex;
}

button[type="submit"] {
    background: #ea3270;
    border: none;
    border-radius:0;
    text-align: center;
    margin: 0 auto;
    height: 50px;
}
button[type='submit']:hover{
    background: #d03268;
}
.submit-wrapper {
    position: absolute;
    text-align: center;
    left: 48%;
    bottom: 10%;
}
img.preview{
    width: 70px;
    height: 70px;
    background-color: gray;
    border-radius:50% ;
}
